* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1E1F26;
  @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
}

#logo {
  float: left;
  margin: 1rem;
}

.header-image {
  float: right;
  width: 30%;
  margin: 0.5rem;
}

header {
  box-shadow: 0 1px 3px 3px rgba(44, 48, 58, 1);
}

.menu_and_search {
  display: flex;
  justify-content: space-between;
  background-color: #111111;
}

/* .slider-content  {
  padding-bottom: 25%;
  background-image: url(images_1st_page/background.jpg);
  background-size: cover;
} */


.block {
  display: flex;
  align-items: center;
  color: white;
  margin: 1rem;
  text-decoration: none;
}

.down {
  position: relative;
}

.down:after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 5rem;
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: white transparent transparent transparent;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

.menu {
  backface-visibility: hidden;
}

@media (max-width: 900px) {
  .menu {
    display: block;
  }
}

.menu > li {
  display: inline-block;
  position: relative;
  margin: 1rem;
  font-size: 24px;
}

.menu li a:hover {
  color: orange;
}

.submenu {
  display: block;
  color: white;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  width: 300px;
}

.menu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.submenu li {
  background-color: rgba(51, 51, 51, 0.2);
}

.submenu li:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.submenu li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.submenu li a {
  color: white;
  font-size: 18px;
  line-height: 36px;
  padding: 1rem;
}

form {
  position: relative;
  width: auto;
  margin-right: 30px;
}

.search {
  position: relative;
  right: 0;
  top: 2rem;
}

.search__button {
  background: #EFEFEF;
  border: none;
  border-bottom-right-radius: 42px;
  border-top-right-radius: 42px;
  width: 20%;
  height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  cursor: pointer;
}

.search__button::before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 18px;
  color: rgba(51, 51, 51, 1);
}

.search__window {
  height: 42px;
  width: 250px;
  padding-left: 15px;
  border: none;
  border-radius: 42px;
  outline: none;
  background: white;
  transition: .3s linear;
  position: relative;
}

.search__window:focus {
 width: 300px;
}

footer {
  display: flex;
  color: white;
  background-color: #111111;
  padding: 1%;
  width: 100%;
  box-shadow: 0 1px 3px 3px rgba(44, 48, 58, 1);
}

@media (max-width:900px) {
  footer {
    display: block;
  }
}

.about-us, .contacts, .campaigns, .questions {
  margin: auto;
}

.questions a, .campaigns a, .block {
  color: white;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orange-word {
  color: orange;
}

.red-word {
  color: #CC0000;
}

.heading {
  text-align: center;
  color: orange;
}