.sign-up {
  width: 100%;
  color: white;
  padding: 10px;
  margin-top: 2%;
  text-align: center;
}

.sign-up__input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 1rem;
  outline: none;
}

.sign-up__button {
  color: white;
  border: 1px solid orange;
  background-color: transparent;
  padding: 10px 40px;
  margin: 10px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.item {
  display: none;
}

.slider-content  {
  width: 100%;
  position: relative;
  margin: auto;
}

.slider-image {
  width: 100%;
  vertical-align: middle;
}

.translate {
  animation-name: translate;
  animation-duration: 2s;
}

@keyframes translate {
  from {opacity: .4} 
  to {opacity: 1}
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(180, 180, 180, 1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
