.content-text {
  text-align: center;
  color: white;
}

.set_group {
  display: flex;
  margin: 1rem 0;
}

.set-group__image {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.set-group__image:hover {
  transform: translateY(-20px);
}

@media (max-width: 600px) {
  .set_group {
    display: block;
    height: 10%;
  }
}

.school_info p {
  color: white;
}

.about_school {
  color: white;
  font-size: 18px;
  text-align: center;
}

.school_info h2 {
  color: white;
  text-align: center;
}

.certificate {
  width: 20%;
}

.sign-up {
  width: 100%;
  color: white;
  padding: 10px;
  margin-top: 2%;
  text-align: center;
}

.sign-up__input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 1rem;
}

.sign-up__button {
  color: white;
  border: 1px solid gold;
  background-color: transparent;
  padding: 10px 40px;
  margin: 10px;
  font-size: 18px;
}

.courses-button {
  font-size: 18px;
  background-color: #4e0814;
  color: white;
  border: none;
  width: 99%;
  padding: 10px;
  text-align: center;
  opacity: 0.5;
}

.courses-button:hover {
  opacity: 1;
}