* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  margin: 0;
  background: linear-gradient();
  @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
  font-family: 'Architects Daughter', cursive;
}

.header-info {
  display: flex;
  background-color: #012169;
  width: 100%;
  border: 1px solid #012169;
}

.phone {
  color: white;
  margin-top: 2rem;
}

.block {
  display: flex;
  align-items: center;
}

.block, .number, .mail {
  margin: 0 1rem;
}

.search {
  position: relative;
  right: 0;
  top: 2rem;
}

.logo1 {
  margin:0 1rem;
}

.logo2 {
  margin: 2rem;
  float: left;
}

input {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.down {
  position: relative;
}

.down:after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 6rem;
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: white transparent transparent transparent;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
}

nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;
}

.menu {
  backface-visibility: hidden;
  background: #012169;
}

.menu > li {
  display: inline-block;
  position: relative;
}

.menu > li > a {
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.down:after {
  margin-left: 8px;
}

.menu li a:hover { 
  color: #012169; 
  background-color: white;
}

.submenu {
  background-color: #012169;
  color: white;
  border: 2px solid #012169;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  width: 200px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}

.menu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}

.submenu li a {
  color: white;
  font-size: 18px;
  line-height: 36px;
  padding: 0 25px;
}

.slider {
  padding: 10rem;
  background-image: url(images1/london1.jpg);
}

button {
  color: white;
  background-color: #C8102E;
  border: 1px solid #C8102E;
  padding: 10px 40px;
  border-radius: 5px;
  box-shadow: 1px 3px #4e0814;
  margin: 10px;
  font-size: 18px;
}

.children-group, .teenager-group, .adult-group {
  width: 20%;
  border: 1px solid none;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  box-shadow: 1px 3px 5px 3px grey;
  background: radial-gradient(white, #012169);
  position: relative;
}

.children-group:hover, .teenager-group:hover, .adult-group:hover {
  box-shadow: 1px 3px 5px 3px #012169;
}

button:active {
  box-shadow: inset 1px 3px #4e0814;
}

.section-1 {
  display: flex;
}

.section-2 h2 {
  text-align: center;
}

.sign-up {
  width: 100%;
  background-color: #012169;
  color: white;
  padding: 10px;
  margin-top: 2%;
  text-align: center;
}

.advantages {
  list-style-image: url(images1/arrow.png);
}

footer {
  display: flex;
  background: #012169;
  color: white;
  padding: 1%;
  width: 100%;
  border: 1px solid #012169;
}

.about-us, .contacts, .campaigns, .questions {
  margin: auto;
}

.questions a, .campaigns a, .block {
  color: white;
  text-decoration: none;
}