.card-course_wrapper {
  display: flex;
}

.card-course {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  max-width: 300px;
  color: black;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 1);
}

.card-course__button {
  text-align: center;
  margin-top: 1rem;
}

.card-course__button a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.card-course__content {
  padding: 0;
  border-radius: 10px;
  background: #E5EBF1;
  margin: -15px;
}

.card-course__offer {
  border-radius: 10px;
}
