.card-course_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-course {
  margin: 1%;
  max-width: 600px;
}

.card-course:hover {
  box-shadow: 3px 3px 3px 3px rgba(19, 20, 23, 1);;
}

.card-course__offer {
  margin: auto;
}
