.company-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 20%;
}

.company-info__text, .certificate {
  color: white;
  padding-left: 10%;
}

.company-info__text_image {
  float: left;
  width: 20%;
  margin: 5%;
}

.certificate {
  text-align: justify;
}

.certificate__image {
  width: 40%;
  margin: 1rem;
  float: right;
}

.advantages {
  list-style-image: url(../company-images/arrow.png);
  color: white;
}
