.content-page {
  display: flex;
}

.content-title, h3 {
  color: darkorange;
  text-align: center;
}

.news-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.news-block__item {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1%;
  border: 3px solid darkorange;
  color: white;
  background-color: #161B22;
  transition: all 0.5s ease;
}

.news-block__item p {
  flex-grow: 2;
  padding: 5%;
}

.news-block__item:hover {
  background: rgba(30, 31, 38, 1);
}

.news-image {
  padding: 0;
  width: 100%;
  margin: auto;
}

.news-block__item_date {
  padding: 0 1%;
  color: darkorange;
}

.fa-eye {
  margin-right: 40%;
}

.subscription {
  position: relative;
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.3);
  background: url(../news_images/post-london.jpg);
  background-size: cover;
}

.subscription__dark-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.subscription__text-content {
  position: relative;
  text-align: center;
  color: darkorange;
  font-size: 24px;
  z-index: 2;
}

.subscription__form {
  width: 100%;
  padding: 1rem;
  margin: 1% auto;
  text-align: center;
  z-index: 2;
}

.subscription__title {
  text-align: center;
  font-size: 24px;
  color: darkorange;
}

.subscription__input {
  width: 20%;
  min-width: 300px;
  margin: 1% auto;
  padding: 1%;
  border-radius: 10px;
  outline: none;
  background: white;
  color: black;
}

.subscription__button {
  width: 20%;
  min-width: 300px;
  padding: 1%;
  margin: 1% auto;
  border: 1px solid darkorange;
  font-size: 18px;
  background: transparent;
  color: darkorange;
  outline: none;
  cursor: pointer;
}

.subscription__button:hover {
  
}

@media (max-width: 1450px) {
  .news-block {
    justify-content: space-around;
  }
  .news-block__item {
    min-width: 40%;
    font-size: 20px;
  }
}

@media (max-width: 1050px) {
  .news-block__item {
    min-width: 45%;
  }
}

@media (max-width: 690px) {
  .news-block {
    flex-direction: column;
    align-items: center;
  }
  .news-block__item {
    min-width: 100%;
  }
}