.news-block {
  display: flex;
  flex-direction: column;
}

.news-block__item {
  color: white;
  float: left;
  margin: 0;
  padding: 1rem;
}

.news-block__item:hover {
  background-color: #383838;
  box-shadow: 0 0 3px 0 rgb(153, 149, 149);
}

.news-image {
  width: 10%;
}