.services-text {
  text-align: center;
  color: darkorange;
}

.services {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width:1080px) {
  .services {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .services__item {
    flex-direction: row;
    min-width: 100%;
  }
}

.services__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30%;
  margin: 1%;
  transition: all 0.5s ease-in;
}

.services__item_title {
  position: absolute;
  color: white;
  font-size: 32px;
  padding: 5px 15px;
  top: 0;
  left: 0;
}

#red {
  background: rgba(160, 17, 0, 0.7);
}

#green {
  background: rgba(39, 220, 92, 0.7);
}

#blue {
  background: rgba(39, 92, 220, 0.7);
}

.services__text {
  padding: 1em;
  color: darkorange;
}

.services__img {
  width: 100%;
}